<phpunit colors="true" bootstrap="bootstrap.php">         
	<testsuite name="RouterBoard-Backup">
		<directory>./</directory>	  	
	</testsuite>
    
	<filter>
		<whitelist>
			<exclude>
				<directory suffix=".php">../vendor</directory>
			</exclude>
		</whitelist>
	</filter>   
</phpunit>
