<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="false"
		 bootstrap="./bootstrap.php"
	>
	<testsuite name="RouterBoard-Backup">
		<directory>./</directory>	  	
	</testsuite>
    
	<filter>
		<whitelist>
			<directory suffix=".php">../*</directory>
			<exclude>
				<directory suffix=".php">../vendor/*</directory>
				<directory suffix=".php">../tests/*</directory>
			</exclude>
		</whitelist>
	</filter>   
</phpunit>
